<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdu.ailab.admin.dao.equipmentMapper">
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.equipment">
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="equipment_type_num" jdbcType="INTEGER" property="equipmentTypeNum" />
    <result column="equipment_type" jdbcType="VARCHAR" property="equipmentType" />
    <result column="equipment_price" jdbcType="INTEGER" property="equipmentPrice" />
    <result column="equipment_total_price" jdbcType="INTEGER" property="equipmentTotalPrice" />
    <result column="equipment_unit" jdbcType="VARCHAR" property="equipmentUnit" />
    <result column="equipment_model" jdbcType="INTEGER" property="equipmentModel" />
    <result column="equipment_specification" jdbcType="VARCHAR" property="equipmentSpecification" />
    <result column="equipment_manufacturer" jdbcType="VARCHAR" property="equipmentManufacturer" />
    <result column="equipment_centralized_audit_opinion" jdbcType="VARCHAR" property="equipmentCentralizedAuditOpinion" />
    <result column="equipment_bookkeeping_type" jdbcType="VARCHAR" property="equipmentBookkeepingType" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.equipment">
    insert into equipment (equipment_id, equipment_name, equipment_type_num, 
      equipment_type, equipment_price, equipment_total_price, 
      equipment_unit, equipment_model, equipment_specification, 
      equipment_manufacturer, equipment_centralized_audit_opinion, 
      equipment_bookkeeping_type)
    values (#{equipmentId,jdbcType=INTEGER}, #{equipmentName,jdbcType=VARCHAR}, #{equipmentTypeNum,jdbcType=INTEGER}, 
      #{equipmentType,jdbcType=VARCHAR}, #{equipmentPrice,jdbcType=INTEGER}, #{equipmentTotalPrice,jdbcType=INTEGER}, 
      #{equipmentUnit,jdbcType=VARCHAR}, #{equipmentModel,jdbcType=INTEGER}, #{equipmentSpecification,jdbcType=VARCHAR}, 
      #{equipmentManufacturer,jdbcType=VARCHAR}, #{equipmentCentralizedAuditOpinion,jdbcType=VARCHAR}, 
      #{equipmentBookkeepingType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.equipment">
    insert into equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="equipmentName != null">
        equipment_name,
      </if>
      <if test="equipmentTypeNum != null">
        equipment_type_num,
      </if>
      <if test="equipmentType != null">
        equipment_type,
      </if>
      <if test="equipmentPrice != null">
        equipment_price,
      </if>
      <if test="equipmentTotalPrice != null">
        equipment_total_price,
      </if>
      <if test="equipmentUnit != null">
        equipment_unit,
      </if>
      <if test="equipmentModel != null">
        equipment_model,
      </if>
      <if test="equipmentSpecification != null">
        equipment_specification,
      </if>
      <if test="equipmentManufacturer != null">
        equipment_manufacturer,
      </if>
      <if test="equipmentCentralizedAuditOpinion != null">
        equipment_centralized_audit_opinion,
      </if>
      <if test="equipmentBookkeepingType != null">
        equipment_bookkeeping_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="equipmentName != null">
        #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="equipmentTypeNum != null">
        #{equipmentTypeNum,jdbcType=INTEGER},
      </if>
      <if test="equipmentType != null">
        #{equipmentType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentPrice != null">
        #{equipmentPrice,jdbcType=INTEGER},
      </if>
      <if test="equipmentTotalPrice != null">
        #{equipmentTotalPrice,jdbcType=INTEGER},
      </if>
      <if test="equipmentUnit != null">
        #{equipmentUnit,jdbcType=VARCHAR},
      </if>
      <if test="equipmentModel != null">
        #{equipmentModel,jdbcType=INTEGER},
      </if>
      <if test="equipmentSpecification != null">
        #{equipmentSpecification,jdbcType=VARCHAR},
      </if>
      <if test="equipmentManufacturer != null">
        #{equipmentManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCentralizedAuditOpinion != null">
        #{equipmentCentralizedAuditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="equipmentBookkeepingType != null">
        #{equipmentBookkeepingType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.equipment">
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="equipment_type_num" jdbcType="INTEGER" property="equipmentTypeNum" />
    <result column="equipment_type" jdbcType="VARCHAR" property="equipmentType" />
    <result column="equipment_price" jdbcType="INTEGER" property="equipmentPrice" />
    <result column="equipment_total_price" jdbcType="INTEGER" property="equipmentTotalPrice" />
    <result column="equipment_unit" jdbcType="VARCHAR" property="equipmentUnit" />
    <result column="equipment_model" jdbcType="INTEGER" property="equipmentModel" />
    <result column="equipment_specification" jdbcType="VARCHAR" property="equipmentSpecification" />
    <result column="equipment_manufacturer" jdbcType="VARCHAR" property="equipmentManufacturer" />
    <result column="equipment_centralized_audit_opinion" jdbcType="VARCHAR" property="equipmentCentralizedAuditOpinion" />
    <result column="equipment_bookkeeping_type" jdbcType="VARCHAR" property="equipmentBookkeepingType" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.equipment">
    insert into equipment (equipment_id, equipment_name, equipment_type_num, 
      equipment_type, equipment_price, equipment_total_price, 
      equipment_unit, equipment_model, equipment_specification, 
      equipment_manufacturer, equipment_centralized_audit_opinion, 
      equipment_bookkeeping_type)
    values (#{equipmentId,jdbcType=INTEGER}, #{equipmentName,jdbcType=VARCHAR}, #{equipmentTypeNum,jdbcType=INTEGER}, 
      #{equipmentType,jdbcType=VARCHAR}, #{equipmentPrice,jdbcType=INTEGER}, #{equipmentTotalPrice,jdbcType=INTEGER}, 
      #{equipmentUnit,jdbcType=VARCHAR}, #{equipmentModel,jdbcType=INTEGER}, #{equipmentSpecification,jdbcType=VARCHAR}, 
      #{equipmentManufacturer,jdbcType=VARCHAR}, #{equipmentCentralizedAuditOpinion,jdbcType=VARCHAR}, 
      #{equipmentBookkeepingType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.equipment">
    insert into equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="equipmentName != null">
        equipment_name,
      </if>
      <if test="equipmentTypeNum != null">
        equipment_type_num,
      </if>
      <if test="equipmentType != null">
        equipment_type,
      </if>
      <if test="equipmentPrice != null">
        equipment_price,
      </if>
      <if test="equipmentTotalPrice != null">
        equipment_total_price,
      </if>
      <if test="equipmentUnit != null">
        equipment_unit,
      </if>
      <if test="equipmentModel != null">
        equipment_model,
      </if>
      <if test="equipmentSpecification != null">
        equipment_specification,
      </if>
      <if test="equipmentManufacturer != null">
        equipment_manufacturer,
      </if>
      <if test="equipmentCentralizedAuditOpinion != null">
        equipment_centralized_audit_opinion,
      </if>
      <if test="equipmentBookkeepingType != null">
        equipment_bookkeeping_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="equipmentName != null">
        #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="equipmentTypeNum != null">
        #{equipmentTypeNum,jdbcType=INTEGER},
      </if>
      <if test="equipmentType != null">
        #{equipmentType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentPrice != null">
        #{equipmentPrice,jdbcType=INTEGER},
      </if>
      <if test="equipmentTotalPrice != null">
        #{equipmentTotalPrice,jdbcType=INTEGER},
      </if>
      <if test="equipmentUnit != null">
        #{equipmentUnit,jdbcType=VARCHAR},
      </if>
      <if test="equipmentModel != null">
        #{equipmentModel,jdbcType=INTEGER},
      </if>
      <if test="equipmentSpecification != null">
        #{equipmentSpecification,jdbcType=VARCHAR},
      </if>
      <if test="equipmentManufacturer != null">
        #{equipmentManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCentralizedAuditOpinion != null">
        #{equipmentCentralizedAuditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="equipmentBookkeepingType != null">
        #{equipmentBookkeepingType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.equipment">
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="equipment_name" jdbcType="VARCHAR" property="equipmentName" />
    <result column="equipment_type_num" jdbcType="INTEGER" property="equipmentTypeNum" />
    <result column="equipment_type" jdbcType="VARCHAR" property="equipmentType" />
    <result column="equipment_price" jdbcType="INTEGER" property="equipmentPrice" />
    <result column="equipment_total_price" jdbcType="INTEGER" property="equipmentTotalPrice" />
    <result column="equipment_unit" jdbcType="VARCHAR" property="equipmentUnit" />
    <result column="equipment_model" jdbcType="INTEGER" property="equipmentModel" />
    <result column="equipment_specification" jdbcType="VARCHAR" property="equipmentSpecification" />
    <result column="equipment_manufacturer" jdbcType="VARCHAR" property="equipmentManufacturer" />
    <result column="equipment_centralized_audit_opinion" jdbcType="VARCHAR" property="equipmentCentralizedAuditOpinion" />
    <result column="equipment_bookkeeping_type" jdbcType="VARCHAR" property="equipmentBookkeepingType" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.equipment">
    insert into equipment (equipment_id, equipment_name, equipment_type_num, 
      equipment_type, equipment_price, equipment_total_price, 
      equipment_unit, equipment_model, equipment_specification, 
      equipment_manufacturer, equipment_centralized_audit_opinion, 
      equipment_bookkeeping_type)
    values (#{equipmentId,jdbcType=INTEGER}, #{equipmentName,jdbcType=VARCHAR}, #{equipmentTypeNum,jdbcType=INTEGER}, 
      #{equipmentType,jdbcType=VARCHAR}, #{equipmentPrice,jdbcType=INTEGER}, #{equipmentTotalPrice,jdbcType=INTEGER}, 
      #{equipmentUnit,jdbcType=VARCHAR}, #{equipmentModel,jdbcType=INTEGER}, #{equipmentSpecification,jdbcType=VARCHAR}, 
      #{equipmentManufacturer,jdbcType=VARCHAR}, #{equipmentCentralizedAuditOpinion,jdbcType=VARCHAR}, 
      #{equipmentBookkeepingType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.equipment">
    insert into equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="equipmentName != null">
        equipment_name,
      </if>
      <if test="equipmentTypeNum != null">
        equipment_type_num,
      </if>
      <if test="equipmentType != null">
        equipment_type,
      </if>
      <if test="equipmentPrice != null">
        equipment_price,
      </if>
      <if test="equipmentTotalPrice != null">
        equipment_total_price,
      </if>
      <if test="equipmentUnit != null">
        equipment_unit,
      </if>
      <if test="equipmentModel != null">
        equipment_model,
      </if>
      <if test="equipmentSpecification != null">
        equipment_specification,
      </if>
      <if test="equipmentManufacturer != null">
        equipment_manufacturer,
      </if>
      <if test="equipmentCentralizedAuditOpinion != null">
        equipment_centralized_audit_opinion,
      </if>
      <if test="equipmentBookkeepingType != null">
        equipment_bookkeeping_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="equipmentName != null">
        #{equipmentName,jdbcType=VARCHAR},
      </if>
      <if test="equipmentTypeNum != null">
        #{equipmentTypeNum,jdbcType=INTEGER},
      </if>
      <if test="equipmentType != null">
        #{equipmentType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentPrice != null">
        #{equipmentPrice,jdbcType=INTEGER},
      </if>
      <if test="equipmentTotalPrice != null">
        #{equipmentTotalPrice,jdbcType=INTEGER},
      </if>
      <if test="equipmentUnit != null">
        #{equipmentUnit,jdbcType=VARCHAR},
      </if>
      <if test="equipmentModel != null">
        #{equipmentModel,jdbcType=INTEGER},
      </if>
      <if test="equipmentSpecification != null">
        #{equipmentSpecification,jdbcType=VARCHAR},
      </if>
      <if test="equipmentManufacturer != null">
        #{equipmentManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="equipmentCentralizedAuditOpinion != null">
        #{equipmentCentralizedAuditOpinion,jdbcType=VARCHAR},
      </if>
      <if test="equipmentBookkeepingType != null">
        #{equipmentBookkeepingType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>