<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdu.ailab.admin.dao.equipment_labMapper">
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.equipment_lab">
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="lab_id" jdbcType="INTEGER" property="labId" />
    <result column="equipment_number" jdbcType="INTEGER" property="equipmentNumber" />
    <result column="equipment_state" jdbcType="VARCHAR" property="equipmentState" />
    <result column="equipment_purchase_date" jdbcType="DATE" property="equipmentPurchaseDate" />
    <result column="equipment_entry_account_date" jdbcType="DATE" property="equipmentEntryAccountDate" />
    <result column="equipment_service_life" jdbcType="INTEGER" property="equipmentServiceLife" />
    <result column="equipment_used_life" jdbcType="INTEGER" property="equipmentUsedLife" />
    <result column="equipment_present_situation" jdbcType="VARCHAR" property="equipmentPresentSituation" />
    <result column="equipment_use_direction" jdbcType="VARCHAR" property="equipmentUseDirection" />
    <result column="equipment_use_people" jdbcType="VARCHAR" property="equipmentUsePeople" />
    <result column="equipment_use_unit" jdbcType="VARCHAR" property="equipmentUseUnit" />
    <result column="equipment_location" jdbcType="VARCHAR" property="equipmentLocation" />
    <result column="equipment_funding_source" jdbcType="VARCHAR" property="equipmentFundingSource" />
    <result column="equipment_source" jdbcType="VARCHAR" property="equipmentSource" />
    <result column="equipment_transfer_date" jdbcType="DATE" property="equipmentTransferDate" />
    <result column="equipment_subject" jdbcType="VARCHAR" property="equipmentSubject" />
    <result column="equipment_subject_type" jdbcType="VARCHAR" property="equipmentSubjectType" />
    <result column="equipment_file_number" jdbcType="INTEGER" property="equipmentFileNumber" />
    <result column="equipment_rfid" jdbcType="INTEGER" property="equipmentRfid" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.equipment_lab">
    insert into equipment_lab (equipment_id, lab_id, equipment_number, 
      equipment_state, equipment_purchase_date, equipment_entry_account_date, 
      equipment_service_life, equipment_used_life, 
      equipment_present_situation, equipment_use_direction, 
      equipment_use_people, equipment_use_unit, equipment_location, 
      equipment_funding_source, equipment_source, 
      equipment_transfer_date, equipment_subject, equipment_subject_type, 
      equipment_file_number, equipment_rfid)
    values (#{equipmentId,jdbcType=INTEGER}, #{labId,jdbcType=INTEGER}, #{equipmentNumber,jdbcType=INTEGER}, 
      #{equipmentState,jdbcType=VARCHAR}, #{equipmentPurchaseDate,jdbcType=DATE}, #{equipmentEntryAccountDate,jdbcType=DATE}, 
      #{equipmentServiceLife,jdbcType=INTEGER}, #{equipmentUsedLife,jdbcType=INTEGER}, 
      #{equipmentPresentSituation,jdbcType=VARCHAR}, #{equipmentUseDirection,jdbcType=VARCHAR}, 
      #{equipmentUsePeople,jdbcType=VARCHAR}, #{equipmentUseUnit,jdbcType=VARCHAR}, #{equipmentLocation,jdbcType=VARCHAR}, 
      #{equipmentFundingSource,jdbcType=VARCHAR}, #{equipmentSource,jdbcType=VARCHAR}, 
      #{equipmentTransferDate,jdbcType=DATE}, #{equipmentSubject,jdbcType=VARCHAR}, #{equipmentSubjectType,jdbcType=VARCHAR}, 
      #{equipmentFileNumber,jdbcType=INTEGER}, #{equipmentRfid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.equipment_lab">
    insert into equipment_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="labId != null">
        lab_id,
      </if>
      <if test="equipmentNumber != null">
        equipment_number,
      </if>
      <if test="equipmentState != null">
        equipment_state,
      </if>
      <if test="equipmentPurchaseDate != null">
        equipment_purchase_date,
      </if>
      <if test="equipmentEntryAccountDate != null">
        equipment_entry_account_date,
      </if>
      <if test="equipmentServiceLife != null">
        equipment_service_life,
      </if>
      <if test="equipmentUsedLife != null">
        equipment_used_life,
      </if>
      <if test="equipmentPresentSituation != null">
        equipment_present_situation,
      </if>
      <if test="equipmentUseDirection != null">
        equipment_use_direction,
      </if>
      <if test="equipmentUsePeople != null">
        equipment_use_people,
      </if>
      <if test="equipmentUseUnit != null">
        equipment_use_unit,
      </if>
      <if test="equipmentLocation != null">
        equipment_location,
      </if>
      <if test="equipmentFundingSource != null">
        equipment_funding_source,
      </if>
      <if test="equipmentSource != null">
        equipment_source,
      </if>
      <if test="equipmentTransferDate != null">
        equipment_transfer_date,
      </if>
      <if test="equipmentSubject != null">
        equipment_subject,
      </if>
      <if test="equipmentSubjectType != null">
        equipment_subject_type,
      </if>
      <if test="equipmentFileNumber != null">
        equipment_file_number,
      </if>
      <if test="equipmentRfid != null">
        equipment_rfid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="labId != null">
        #{labId,jdbcType=INTEGER},
      </if>
      <if test="equipmentNumber != null">
        #{equipmentNumber,jdbcType=INTEGER},
      </if>
      <if test="equipmentState != null">
        #{equipmentState,jdbcType=VARCHAR},
      </if>
      <if test="equipmentPurchaseDate != null">
        #{equipmentPurchaseDate,jdbcType=DATE},
      </if>
      <if test="equipmentEntryAccountDate != null">
        #{equipmentEntryAccountDate,jdbcType=DATE},
      </if>
      <if test="equipmentServiceLife != null">
        #{equipmentServiceLife,jdbcType=INTEGER},
      </if>
      <if test="equipmentUsedLife != null">
        #{equipmentUsedLife,jdbcType=INTEGER},
      </if>
      <if test="equipmentPresentSituation != null">
        #{equipmentPresentSituation,jdbcType=VARCHAR},
      </if>
      <if test="equipmentUseDirection != null">
        #{equipmentUseDirection,jdbcType=VARCHAR},
      </if>
      <if test="equipmentUsePeople != null">
        #{equipmentUsePeople,jdbcType=VARCHAR},
      </if>
      <if test="equipmentUseUnit != null">
        #{equipmentUseUnit,jdbcType=VARCHAR},
      </if>
      <if test="equipmentLocation != null">
        #{equipmentLocation,jdbcType=VARCHAR},
      </if>
      <if test="equipmentFundingSource != null">
        #{equipmentFundingSource,jdbcType=VARCHAR},
      </if>
      <if test="equipmentSource != null">
        #{equipmentSource,jdbcType=VARCHAR},
      </if>
      <if test="equipmentTransferDate != null">
        #{equipmentTransferDate,jdbcType=DATE},
      </if>
      <if test="equipmentSubject != null">
        #{equipmentSubject,jdbcType=VARCHAR},
      </if>
      <if test="equipmentSubjectType != null">
        #{equipmentSubjectType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentFileNumber != null">
        #{equipmentFileNumber,jdbcType=INTEGER},
      </if>
      <if test="equipmentRfid != null">
        #{equipmentRfid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.equipment_lab">
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="lab_id" jdbcType="INTEGER" property="labId" />
    <result column="equipment_number" jdbcType="INTEGER" property="equipmentNumber" />
    <result column="equipment_state" jdbcType="VARCHAR" property="equipmentState" />
    <result column="equipment_purchase_date" jdbcType="DATE" property="equipmentPurchaseDate" />
    <result column="equipment_entry_account_date" jdbcType="DATE" property="equipmentEntryAccountDate" />
    <result column="equipment_service_life" jdbcType="INTEGER" property="equipmentServiceLife" />
    <result column="equipment_used_life" jdbcType="INTEGER" property="equipmentUsedLife" />
    <result column="equipment_present_situation" jdbcType="VARCHAR" property="equipmentPresentSituation" />
    <result column="equipment_use_direction" jdbcType="VARCHAR" property="equipmentUseDirection" />
    <result column="equipment_use_people" jdbcType="VARCHAR" property="equipmentUsePeople" />
    <result column="equipment_use_unit" jdbcType="VARCHAR" property="equipmentUseUnit" />
    <result column="equipment_location" jdbcType="VARCHAR" property="equipmentLocation" />
    <result column="equipment_funding_source" jdbcType="VARCHAR" property="equipmentFundingSource" />
    <result column="equipment_source" jdbcType="VARCHAR" property="equipmentSource" />
    <result column="equipment_transfer_date" jdbcType="DATE" property="equipmentTransferDate" />
    <result column="equipment_subject" jdbcType="VARCHAR" property="equipmentSubject" />
    <result column="equipment_subject_type" jdbcType="VARCHAR" property="equipmentSubjectType" />
    <result column="equipment_file_number" jdbcType="INTEGER" property="equipmentFileNumber" />
    <result column="equipment_rfid" jdbcType="INTEGER" property="equipmentRfid" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.equipment_lab">
    insert into equipment_lab (equipment_id, lab_id, equipment_number, 
      equipment_state, equipment_purchase_date, equipment_entry_account_date, 
      equipment_service_life, equipment_used_life, 
      equipment_present_situation, equipment_use_direction, 
      equipment_use_people, equipment_use_unit, equipment_location, 
      equipment_funding_source, equipment_source, 
      equipment_transfer_date, equipment_subject, equipment_subject_type, 
      equipment_file_number, equipment_rfid)
    values (#{equipmentId,jdbcType=INTEGER}, #{labId,jdbcType=INTEGER}, #{equipmentNumber,jdbcType=INTEGER}, 
      #{equipmentState,jdbcType=VARCHAR}, #{equipmentPurchaseDate,jdbcType=DATE}, #{equipmentEntryAccountDate,jdbcType=DATE}, 
      #{equipmentServiceLife,jdbcType=INTEGER}, #{equipmentUsedLife,jdbcType=INTEGER}, 
      #{equipmentPresentSituation,jdbcType=VARCHAR}, #{equipmentUseDirection,jdbcType=VARCHAR}, 
      #{equipmentUsePeople,jdbcType=VARCHAR}, #{equipmentUseUnit,jdbcType=VARCHAR}, #{equipmentLocation,jdbcType=VARCHAR}, 
      #{equipmentFundingSource,jdbcType=VARCHAR}, #{equipmentSource,jdbcType=VARCHAR}, 
      #{equipmentTransferDate,jdbcType=DATE}, #{equipmentSubject,jdbcType=VARCHAR}, #{equipmentSubjectType,jdbcType=VARCHAR}, 
      #{equipmentFileNumber,jdbcType=INTEGER}, #{equipmentRfid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.equipment_lab">
    insert into equipment_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="labId != null">
        lab_id,
      </if>
      <if test="equipmentNumber != null">
        equipment_number,
      </if>
      <if test="equipmentState != null">
        equipment_state,
      </if>
      <if test="equipmentPurchaseDate != null">
        equipment_purchase_date,
      </if>
      <if test="equipmentEntryAccountDate != null">
        equipment_entry_account_date,
      </if>
      <if test="equipmentServiceLife != null">
        equipment_service_life,
      </if>
      <if test="equipmentUsedLife != null">
        equipment_used_life,
      </if>
      <if test="equipmentPresentSituation != null">
        equipment_present_situation,
      </if>
      <if test="equipmentUseDirection != null">
        equipment_use_direction,
      </if>
      <if test="equipmentUsePeople != null">
        equipment_use_people,
      </if>
      <if test="equipmentUseUnit != null">
        equipment_use_unit,
      </if>
      <if test="equipmentLocation != null">
        equipment_location,
      </if>
      <if test="equipmentFundingSource != null">
        equipment_funding_source,
      </if>
      <if test="equipmentSource != null">
        equipment_source,
      </if>
      <if test="equipmentTransferDate != null">
        equipment_transfer_date,
      </if>
      <if test="equipmentSubject != null">
        equipment_subject,
      </if>
      <if test="equipmentSubjectType != null">
        equipment_subject_type,
      </if>
      <if test="equipmentFileNumber != null">
        equipment_file_number,
      </if>
      <if test="equipmentRfid != null">
        equipment_rfid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="labId != null">
        #{labId,jdbcType=INTEGER},
      </if>
      <if test="equipmentNumber != null">
        #{equipmentNumber,jdbcType=INTEGER},
      </if>
      <if test="equipmentState != null">
        #{equipmentState,jdbcType=VARCHAR},
      </if>
      <if test="equipmentPurchaseDate != null">
        #{equipmentPurchaseDate,jdbcType=DATE},
      </if>
      <if test="equipmentEntryAccountDate != null">
        #{equipmentEntryAccountDate,jdbcType=DATE},
      </if>
      <if test="equipmentServiceLife != null">
        #{equipmentServiceLife,jdbcType=INTEGER},
      </if>
      <if test="equipmentUsedLife != null">
        #{equipmentUsedLife,jdbcType=INTEGER},
      </if>
      <if test="equipmentPresentSituation != null">
        #{equipmentPresentSituation,jdbcType=VARCHAR},
      </if>
      <if test="equipmentUseDirection != null">
        #{equipmentUseDirection,jdbcType=VARCHAR},
      </if>
      <if test="equipmentUsePeople != null">
        #{equipmentUsePeople,jdbcType=VARCHAR},
      </if>
      <if test="equipmentUseUnit != null">
        #{equipmentUseUnit,jdbcType=VARCHAR},
      </if>
      <if test="equipmentLocation != null">
        #{equipmentLocation,jdbcType=VARCHAR},
      </if>
      <if test="equipmentFundingSource != null">
        #{equipmentFundingSource,jdbcType=VARCHAR},
      </if>
      <if test="equipmentSource != null">
        #{equipmentSource,jdbcType=VARCHAR},
      </if>
      <if test="equipmentTransferDate != null">
        #{equipmentTransferDate,jdbcType=DATE},
      </if>
      <if test="equipmentSubject != null">
        #{equipmentSubject,jdbcType=VARCHAR},
      </if>
      <if test="equipmentSubjectType != null">
        #{equipmentSubjectType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentFileNumber != null">
        #{equipmentFileNumber,jdbcType=INTEGER},
      </if>
      <if test="equipmentRfid != null">
        #{equipmentRfid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.equipment_lab">
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="lab_id" jdbcType="INTEGER" property="labId" />
    <result column="equipment_number" jdbcType="INTEGER" property="equipmentNumber" />
    <result column="equipment_state" jdbcType="VARCHAR" property="equipmentState" />
    <result column="equipment_purchase_date" jdbcType="DATE" property="equipmentPurchaseDate" />
    <result column="equipment_entry_account_date" jdbcType="DATE" property="equipmentEntryAccountDate" />
    <result column="equipment_service_life" jdbcType="INTEGER" property="equipmentServiceLife" />
    <result column="equipment_used_life" jdbcType="INTEGER" property="equipmentUsedLife" />
    <result column="equipment_present_situation" jdbcType="VARCHAR" property="equipmentPresentSituation" />
    <result column="equipment_use_direction" jdbcType="VARCHAR" property="equipmentUseDirection" />
    <result column="equipment_use_people" jdbcType="VARCHAR" property="equipmentUsePeople" />
    <result column="equipment_use_unit" jdbcType="VARCHAR" property="equipmentUseUnit" />
    <result column="equipment_location" jdbcType="VARCHAR" property="equipmentLocation" />
    <result column="equipment_funding_source" jdbcType="VARCHAR" property="equipmentFundingSource" />
    <result column="equipment_source" jdbcType="VARCHAR" property="equipmentSource" />
    <result column="equipment_transfer_date" jdbcType="DATE" property="equipmentTransferDate" />
    <result column="equipment_subject" jdbcType="VARCHAR" property="equipmentSubject" />
    <result column="equipment_subject_type" jdbcType="VARCHAR" property="equipmentSubjectType" />
    <result column="equipment_file_number" jdbcType="INTEGER" property="equipmentFileNumber" />
    <result column="equipment_rfid" jdbcType="INTEGER" property="equipmentRfid" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.equipment_lab">
    insert into equipment_lab (equipment_id, lab_id, equipment_number, 
      equipment_state, equipment_purchase_date, equipment_entry_account_date, 
      equipment_service_life, equipment_used_life, 
      equipment_present_situation, equipment_use_direction, 
      equipment_use_people, equipment_use_unit, equipment_location, 
      equipment_funding_source, equipment_source, 
      equipment_transfer_date, equipment_subject, equipment_subject_type, 
      equipment_file_number, equipment_rfid)
    values (#{equipmentId,jdbcType=INTEGER}, #{labId,jdbcType=INTEGER}, #{equipmentNumber,jdbcType=INTEGER}, 
      #{equipmentState,jdbcType=VARCHAR}, #{equipmentPurchaseDate,jdbcType=DATE}, #{equipmentEntryAccountDate,jdbcType=DATE}, 
      #{equipmentServiceLife,jdbcType=INTEGER}, #{equipmentUsedLife,jdbcType=INTEGER}, 
      #{equipmentPresentSituation,jdbcType=VARCHAR}, #{equipmentUseDirection,jdbcType=VARCHAR}, 
      #{equipmentUsePeople,jdbcType=VARCHAR}, #{equipmentUseUnit,jdbcType=VARCHAR}, #{equipmentLocation,jdbcType=VARCHAR}, 
      #{equipmentFundingSource,jdbcType=VARCHAR}, #{equipmentSource,jdbcType=VARCHAR}, 
      #{equipmentTransferDate,jdbcType=DATE}, #{equipmentSubject,jdbcType=VARCHAR}, #{equipmentSubjectType,jdbcType=VARCHAR}, 
      #{equipmentFileNumber,jdbcType=INTEGER}, #{equipmentRfid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.equipment_lab">
    insert into equipment_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="labId != null">
        lab_id,
      </if>
      <if test="equipmentNumber != null">
        equipment_number,
      </if>
      <if test="equipmentState != null">
        equipment_state,
      </if>
      <if test="equipmentPurchaseDate != null">
        equipment_purchase_date,
      </if>
      <if test="equipmentEntryAccountDate != null">
        equipment_entry_account_date,
      </if>
      <if test="equipmentServiceLife != null">
        equipment_service_life,
      </if>
      <if test="equipmentUsedLife != null">
        equipment_used_life,
      </if>
      <if test="equipmentPresentSituation != null">
        equipment_present_situation,
      </if>
      <if test="equipmentUseDirection != null">
        equipment_use_direction,
      </if>
      <if test="equipmentUsePeople != null">
        equipment_use_people,
      </if>
      <if test="equipmentUseUnit != null">
        equipment_use_unit,
      </if>
      <if test="equipmentLocation != null">
        equipment_location,
      </if>
      <if test="equipmentFundingSource != null">
        equipment_funding_source,
      </if>
      <if test="equipmentSource != null">
        equipment_source,
      </if>
      <if test="equipmentTransferDate != null">
        equipment_transfer_date,
      </if>
      <if test="equipmentSubject != null">
        equipment_subject,
      </if>
      <if test="equipmentSubjectType != null">
        equipment_subject_type,
      </if>
      <if test="equipmentFileNumber != null">
        equipment_file_number,
      </if>
      <if test="equipmentRfid != null">
        equipment_rfid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="labId != null">
        #{labId,jdbcType=INTEGER},
      </if>
      <if test="equipmentNumber != null">
        #{equipmentNumber,jdbcType=INTEGER},
      </if>
      <if test="equipmentState != null">
        #{equipmentState,jdbcType=VARCHAR},
      </if>
      <if test="equipmentPurchaseDate != null">
        #{equipmentPurchaseDate,jdbcType=DATE},
      </if>
      <if test="equipmentEntryAccountDate != null">
        #{equipmentEntryAccountDate,jdbcType=DATE},
      </if>
      <if test="equipmentServiceLife != null">
        #{equipmentServiceLife,jdbcType=INTEGER},
      </if>
      <if test="equipmentUsedLife != null">
        #{equipmentUsedLife,jdbcType=INTEGER},
      </if>
      <if test="equipmentPresentSituation != null">
        #{equipmentPresentSituation,jdbcType=VARCHAR},
      </if>
      <if test="equipmentUseDirection != null">
        #{equipmentUseDirection,jdbcType=VARCHAR},
      </if>
      <if test="equipmentUsePeople != null">
        #{equipmentUsePeople,jdbcType=VARCHAR},
      </if>
      <if test="equipmentUseUnit != null">
        #{equipmentUseUnit,jdbcType=VARCHAR},
      </if>
      <if test="equipmentLocation != null">
        #{equipmentLocation,jdbcType=VARCHAR},
      </if>
      <if test="equipmentFundingSource != null">
        #{equipmentFundingSource,jdbcType=VARCHAR},
      </if>
      <if test="equipmentSource != null">
        #{equipmentSource,jdbcType=VARCHAR},
      </if>
      <if test="equipmentTransferDate != null">
        #{equipmentTransferDate,jdbcType=DATE},
      </if>
      <if test="equipmentSubject != null">
        #{equipmentSubject,jdbcType=VARCHAR},
      </if>
      <if test="equipmentSubjectType != null">
        #{equipmentSubjectType,jdbcType=VARCHAR},
      </if>
      <if test="equipmentFileNumber != null">
        #{equipmentFileNumber,jdbcType=INTEGER},
      </if>
      <if test="equipmentRfid != null">
        #{equipmentRfid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>