<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdu.ailab.admin.dao.staff_use_equipmentMapper">
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff_use_equipment">
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="equipment_number" jdbcType="INTEGER" property="equipmentNumber" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="use_boorrow_time" jdbcType="DATE" property="useBoorrowTime" />
    <result column="use_will_return_time" jdbcType="DATE" property="useWillReturnTime" />
    <result column="use_real_return_time" jdbcType="INTEGER" property="useRealReturnTime" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff_use_equipment">
    insert into staff_use_equipment (equipment_id, uuid, equipment_number, 
      staff_id, use_boorrow_time, use_will_return_time, 
      use_real_return_time)
    values (#{equipmentId,jdbcType=INTEGER}, #{uuid,jdbcType=INTEGER}, #{equipmentNumber,jdbcType=INTEGER}, 
      #{staffId,jdbcType=INTEGER}, #{useBoorrowTime,jdbcType=DATE}, #{useWillReturnTime,jdbcType=DATE}, 
      #{useRealReturnTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff_use_equipment">
    insert into staff_use_equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="equipmentNumber != null">
        equipment_number,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="useBoorrowTime != null">
        use_boorrow_time,
      </if>
      <if test="useWillReturnTime != null">
        use_will_return_time,
      </if>
      <if test="useRealReturnTime != null">
        use_real_return_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="equipmentNumber != null">
        #{equipmentNumber,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="useBoorrowTime != null">
        #{useBoorrowTime,jdbcType=DATE},
      </if>
      <if test="useWillReturnTime != null">
        #{useWillReturnTime,jdbcType=DATE},
      </if>
      <if test="useRealReturnTime != null">
        #{useRealReturnTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff_use_equipment">
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="equipment_number" jdbcType="INTEGER" property="equipmentNumber" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="use_boorrow_time" jdbcType="DATE" property="useBoorrowTime" />
    <result column="use_will_return_time" jdbcType="DATE" property="useWillReturnTime" />
    <result column="use_real_return_time" jdbcType="INTEGER" property="useRealReturnTime" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff_use_equipment">
    insert into staff_use_equipment (equipment_id, uuid, equipment_number, 
      staff_id, use_boorrow_time, use_will_return_time, 
      use_real_return_time)
    values (#{equipmentId,jdbcType=INTEGER}, #{uuid,jdbcType=INTEGER}, #{equipmentNumber,jdbcType=INTEGER}, 
      #{staffId,jdbcType=INTEGER}, #{useBoorrowTime,jdbcType=DATE}, #{useWillReturnTime,jdbcType=DATE}, 
      #{useRealReturnTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff_use_equipment">
    insert into staff_use_equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="equipmentNumber != null">
        equipment_number,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="useBoorrowTime != null">
        use_boorrow_time,
      </if>
      <if test="useWillReturnTime != null">
        use_will_return_time,
      </if>
      <if test="useRealReturnTime != null">
        use_real_return_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="equipmentNumber != null">
        #{equipmentNumber,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="useBoorrowTime != null">
        #{useBoorrowTime,jdbcType=DATE},
      </if>
      <if test="useWillReturnTime != null">
        #{useWillReturnTime,jdbcType=DATE},
      </if>
      <if test="useRealReturnTime != null">
        #{useRealReturnTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff_use_equipment">
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="equipment_number" jdbcType="INTEGER" property="equipmentNumber" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="use_boorrow_time" jdbcType="DATE" property="useBoorrowTime" />
    <result column="use_will_return_time" jdbcType="DATE" property="useWillReturnTime" />
    <result column="use_real_return_time" jdbcType="INTEGER" property="useRealReturnTime" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff_use_equipment">
    insert into staff_use_equipment (equipment_id, uuid, equipment_number, 
      staff_id, use_boorrow_time, use_will_return_time, 
      use_real_return_time)
    values (#{equipmentId,jdbcType=INTEGER}, #{uuid,jdbcType=INTEGER}, #{equipmentNumber,jdbcType=INTEGER}, 
      #{staffId,jdbcType=INTEGER}, #{useBoorrowTime,jdbcType=DATE}, #{useWillReturnTime,jdbcType=DATE}, 
      #{useRealReturnTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff_use_equipment">
    insert into staff_use_equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="equipmentNumber != null">
        equipment_number,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="useBoorrowTime != null">
        use_boorrow_time,
      </if>
      <if test="useWillReturnTime != null">
        use_will_return_time,
      </if>
      <if test="useRealReturnTime != null">
        use_real_return_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="equipmentNumber != null">
        #{equipmentNumber,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="useBoorrowTime != null">
        #{useBoorrowTime,jdbcType=DATE},
      </if>
      <if test="useWillReturnTime != null">
        #{useWillReturnTime,jdbcType=DATE},
      </if>
      <if test="useRealReturnTime != null">
        #{useRealReturnTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>