<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdu.ailab.admin.dao.electric_equipMapper">
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.electric_equip">
    <result column="electric_id" jdbcType="INTEGER" property="electricId" />
    <result column="electric_name" jdbcType="VARCHAR" property="electricName" />
    <result column="electric_mode" jdbcType="INTEGER" property="electricMode" />
    <result column="electric_time" jdbcType="DATE" property="electricTime" />
    <result column="electric_port" jdbcType="VARCHAR" property="electricPort" />
    <result column="electric_type" jdbcType="INTEGER" property="electricType" />
    <result column="electric_brand" jdbcType="VARCHAR" property="electricBrand" />
    <result column="electric_version" jdbcType="VARCHAR" property="electricVersion" />
    <result column="electric_info" jdbcType="VARCHAR" property="electricInfo" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.electric_equip">
    insert into electric_equip (electric_id, electric_name, electric_mode, 
      electric_time, electric_port, electric_type, 
      electric_brand, electric_version, electric_info
      )
    values (#{electricId,jdbcType=INTEGER}, #{electricName,jdbcType=VARCHAR}, #{electricMode,jdbcType=INTEGER}, 
      #{electricTime,jdbcType=DATE}, #{electricPort,jdbcType=VARCHAR}, #{electricType,jdbcType=INTEGER}, 
      #{electricBrand,jdbcType=VARCHAR}, #{electricVersion,jdbcType=VARCHAR}, #{electricInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.electric_equip">
    insert into electric_equip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="electricId != null">
        electric_id,
      </if>
      <if test="electricName != null">
        electric_name,
      </if>
      <if test="electricMode != null">
        electric_mode,
      </if>
      <if test="electricTime != null">
        electric_time,
      </if>
      <if test="electricPort != null">
        electric_port,
      </if>
      <if test="electricType != null">
        electric_type,
      </if>
      <if test="electricBrand != null">
        electric_brand,
      </if>
      <if test="electricVersion != null">
        electric_version,
      </if>
      <if test="electricInfo != null">
        electric_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="electricId != null">
        #{electricId,jdbcType=INTEGER},
      </if>
      <if test="electricName != null">
        #{electricName,jdbcType=VARCHAR},
      </if>
      <if test="electricMode != null">
        #{electricMode,jdbcType=INTEGER},
      </if>
      <if test="electricTime != null">
        #{electricTime,jdbcType=DATE},
      </if>
      <if test="electricPort != null">
        #{electricPort,jdbcType=VARCHAR},
      </if>
      <if test="electricType != null">
        #{electricType,jdbcType=INTEGER},
      </if>
      <if test="electricBrand != null">
        #{electricBrand,jdbcType=VARCHAR},
      </if>
      <if test="electricVersion != null">
        #{electricVersion,jdbcType=VARCHAR},
      </if>
      <if test="electricInfo != null">
        #{electricInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.electric_equip">
    <result column="electric_id" jdbcType="INTEGER" property="electricId" />
    <result column="electric_name" jdbcType="VARCHAR" property="electricName" />
    <result column="electric_mode" jdbcType="INTEGER" property="electricMode" />
    <result column="electric_time" jdbcType="DATE" property="electricTime" />
    <result column="electric_port" jdbcType="VARCHAR" property="electricPort" />
    <result column="electric_type" jdbcType="INTEGER" property="electricType" />
    <result column="electric_brand" jdbcType="VARCHAR" property="electricBrand" />
    <result column="electric_version" jdbcType="VARCHAR" property="electricVersion" />
    <result column="electric_info" jdbcType="VARCHAR" property="electricInfo" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.electric_equip">
    insert into electric_equip (electric_id, electric_name, electric_mode, 
      electric_time, electric_port, electric_type, 
      electric_brand, electric_version, electric_info
      )
    values (#{electricId,jdbcType=INTEGER}, #{electricName,jdbcType=VARCHAR}, #{electricMode,jdbcType=INTEGER}, 
      #{electricTime,jdbcType=DATE}, #{electricPort,jdbcType=VARCHAR}, #{electricType,jdbcType=INTEGER}, 
      #{electricBrand,jdbcType=VARCHAR}, #{electricVersion,jdbcType=VARCHAR}, #{electricInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.electric_equip">
    insert into electric_equip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="electricId != null">
        electric_id,
      </if>
      <if test="electricName != null">
        electric_name,
      </if>
      <if test="electricMode != null">
        electric_mode,
      </if>
      <if test="electricTime != null">
        electric_time,
      </if>
      <if test="electricPort != null">
        electric_port,
      </if>
      <if test="electricType != null">
        electric_type,
      </if>
      <if test="electricBrand != null">
        electric_brand,
      </if>
      <if test="electricVersion != null">
        electric_version,
      </if>
      <if test="electricInfo != null">
        electric_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="electricId != null">
        #{electricId,jdbcType=INTEGER},
      </if>
      <if test="electricName != null">
        #{electricName,jdbcType=VARCHAR},
      </if>
      <if test="electricMode != null">
        #{electricMode,jdbcType=INTEGER},
      </if>
      <if test="electricTime != null">
        #{electricTime,jdbcType=DATE},
      </if>
      <if test="electricPort != null">
        #{electricPort,jdbcType=VARCHAR},
      </if>
      <if test="electricType != null">
        #{electricType,jdbcType=INTEGER},
      </if>
      <if test="electricBrand != null">
        #{electricBrand,jdbcType=VARCHAR},
      </if>
      <if test="electricVersion != null">
        #{electricVersion,jdbcType=VARCHAR},
      </if>
      <if test="electricInfo != null">
        #{electricInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.electric_equip">
    <result column="electric_id" jdbcType="INTEGER" property="electricId" />
    <result column="electric_name" jdbcType="VARCHAR" property="electricName" />
    <result column="electric_mode" jdbcType="INTEGER" property="electricMode" />
    <result column="electric_time" jdbcType="DATE" property="electricTime" />
    <result column="electric_port" jdbcType="VARCHAR" property="electricPort" />
    <result column="electric_type" jdbcType="INTEGER" property="electricType" />
    <result column="electric_brand" jdbcType="VARCHAR" property="electricBrand" />
    <result column="electric_version" jdbcType="VARCHAR" property="electricVersion" />
    <result column="electric_info" jdbcType="VARCHAR" property="electricInfo" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.electric_equip">
    insert into electric_equip (electric_id, electric_name, electric_mode, 
      electric_time, electric_port, electric_type, 
      electric_brand, electric_version, electric_info
      )
    values (#{electricId,jdbcType=INTEGER}, #{electricName,jdbcType=VARCHAR}, #{electricMode,jdbcType=INTEGER}, 
      #{electricTime,jdbcType=DATE}, #{electricPort,jdbcType=VARCHAR}, #{electricType,jdbcType=INTEGER}, 
      #{electricBrand,jdbcType=VARCHAR}, #{electricVersion,jdbcType=VARCHAR}, #{electricInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.electric_equip">
    insert into electric_equip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="electricId != null">
        electric_id,
      </if>
      <if test="electricName != null">
        electric_name,
      </if>
      <if test="electricMode != null">
        electric_mode,
      </if>
      <if test="electricTime != null">
        electric_time,
      </if>
      <if test="electricPort != null">
        electric_port,
      </if>
      <if test="electricType != null">
        electric_type,
      </if>
      <if test="electricBrand != null">
        electric_brand,
      </if>
      <if test="electricVersion != null">
        electric_version,
      </if>
      <if test="electricInfo != null">
        electric_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="electricId != null">
        #{electricId,jdbcType=INTEGER},
      </if>
      <if test="electricName != null">
        #{electricName,jdbcType=VARCHAR},
      </if>
      <if test="electricMode != null">
        #{electricMode,jdbcType=INTEGER},
      </if>
      <if test="electricTime != null">
        #{electricTime,jdbcType=DATE},
      </if>
      <if test="electricPort != null">
        #{electricPort,jdbcType=VARCHAR},
      </if>
      <if test="electricType != null">
        #{electricType,jdbcType=INTEGER},
      </if>
      <if test="electricBrand != null">
        #{electricBrand,jdbcType=VARCHAR},
      </if>
      <if test="electricVersion != null">
        #{electricVersion,jdbcType=VARCHAR},
      </if>
      <if test="electricInfo != null">
        #{electricInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>