<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdu.ailab.admin.dao.labMapper">
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.lab">
    <result column="lab_id" jdbcType="INTEGER" property="labId" />
    <result column="lab_name" jdbcType="VARCHAR" property="labName" />
    <result column="lab_building" jdbcType="VARCHAR" property="labBuilding" />
    <result column="lab_floor" jdbcType="VARCHAR" property="labFloor" />
    <result column="lab_room" jdbcType="VARCHAR" property="labRoom" />
    <result column="lab_number" jdbcType="INTEGER" property="labNumber" />
    <result column="lab_type" jdbcType="VARCHAR" property="labType" />
    <result column="lab_info" jdbcType="VARCHAR" property="labInfo" />
    <result column="lab_mac" jdbcType="VARCHAR" property="labMac" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.lab">
    insert into lab (lab_id, lab_name, lab_building, 
      lab_floor, lab_room, lab_number, 
      lab_type, lab_info, lab_mac
      )
    values (#{labId,jdbcType=INTEGER}, #{labName,jdbcType=VARCHAR}, #{labBuilding,jdbcType=VARCHAR}, 
      #{labFloor,jdbcType=VARCHAR}, #{labRoom,jdbcType=VARCHAR}, #{labNumber,jdbcType=INTEGER}, 
      #{labType,jdbcType=VARCHAR}, #{labInfo,jdbcType=VARCHAR}, #{labMac,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.lab">
    insert into lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="labId != null">
        lab_id,
      </if>
      <if test="labName != null">
        lab_name,
      </if>
      <if test="labBuilding != null">
        lab_building,
      </if>
      <if test="labFloor != null">
        lab_floor,
      </if>
      <if test="labRoom != null">
        lab_room,
      </if>
      <if test="labNumber != null">
        lab_number,
      </if>
      <if test="labType != null">
        lab_type,
      </if>
      <if test="labInfo != null">
        lab_info,
      </if>
      <if test="labMac != null">
        lab_mac,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="labId != null">
        #{labId,jdbcType=INTEGER},
      </if>
      <if test="labName != null">
        #{labName,jdbcType=VARCHAR},
      </if>
      <if test="labBuilding != null">
        #{labBuilding,jdbcType=VARCHAR},
      </if>
      <if test="labFloor != null">
        #{labFloor,jdbcType=VARCHAR},
      </if>
      <if test="labRoom != null">
        #{labRoom,jdbcType=VARCHAR},
      </if>
      <if test="labNumber != null">
        #{labNumber,jdbcType=INTEGER},
      </if>
      <if test="labType != null">
        #{labType,jdbcType=VARCHAR},
      </if>
      <if test="labInfo != null">
        #{labInfo,jdbcType=VARCHAR},
      </if>
      <if test="labMac != null">
        #{labMac,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.lab">
    <result column="lab_id" jdbcType="INTEGER" property="labId" />
    <result column="lab_name" jdbcType="VARCHAR" property="labName" />
    <result column="lab_building" jdbcType="VARCHAR" property="labBuilding" />
    <result column="lab_floor" jdbcType="VARCHAR" property="labFloor" />
    <result column="lab_room" jdbcType="VARCHAR" property="labRoom" />
    <result column="lab_number" jdbcType="INTEGER" property="labNumber" />
    <result column="lab_type" jdbcType="VARCHAR" property="labType" />
    <result column="lab_info" jdbcType="VARCHAR" property="labInfo" />
    <result column="lab_mac" jdbcType="VARCHAR" property="labMac" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.lab">
    insert into lab (lab_id, lab_name, lab_building, 
      lab_floor, lab_room, lab_number, 
      lab_type, lab_info, lab_mac
      )
    values (#{labId,jdbcType=INTEGER}, #{labName,jdbcType=VARCHAR}, #{labBuilding,jdbcType=VARCHAR}, 
      #{labFloor,jdbcType=VARCHAR}, #{labRoom,jdbcType=VARCHAR}, #{labNumber,jdbcType=INTEGER}, 
      #{labType,jdbcType=VARCHAR}, #{labInfo,jdbcType=VARCHAR}, #{labMac,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.lab">
    insert into lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="labId != null">
        lab_id,
      </if>
      <if test="labName != null">
        lab_name,
      </if>
      <if test="labBuilding != null">
        lab_building,
      </if>
      <if test="labFloor != null">
        lab_floor,
      </if>
      <if test="labRoom != null">
        lab_room,
      </if>
      <if test="labNumber != null">
        lab_number,
      </if>
      <if test="labType != null">
        lab_type,
      </if>
      <if test="labInfo != null">
        lab_info,
      </if>
      <if test="labMac != null">
        lab_mac,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="labId != null">
        #{labId,jdbcType=INTEGER},
      </if>
      <if test="labName != null">
        #{labName,jdbcType=VARCHAR},
      </if>
      <if test="labBuilding != null">
        #{labBuilding,jdbcType=VARCHAR},
      </if>
      <if test="labFloor != null">
        #{labFloor,jdbcType=VARCHAR},
      </if>
      <if test="labRoom != null">
        #{labRoom,jdbcType=VARCHAR},
      </if>
      <if test="labNumber != null">
        #{labNumber,jdbcType=INTEGER},
      </if>
      <if test="labType != null">
        #{labType,jdbcType=VARCHAR},
      </if>
      <if test="labInfo != null">
        #{labInfo,jdbcType=VARCHAR},
      </if>
      <if test="labMac != null">
        #{labMac,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.lab">
    <result column="lab_id" jdbcType="INTEGER" property="labId" />
    <result column="lab_name" jdbcType="VARCHAR" property="labName" />
    <result column="lab_building" jdbcType="VARCHAR" property="labBuilding" />
    <result column="lab_floor" jdbcType="VARCHAR" property="labFloor" />
    <result column="lab_room" jdbcType="VARCHAR" property="labRoom" />
    <result column="lab_number" jdbcType="INTEGER" property="labNumber" />
    <result column="lab_type" jdbcType="VARCHAR" property="labType" />
    <result column="lab_info" jdbcType="VARCHAR" property="labInfo" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.lab">
    insert into lab (lab_id, lab_name, lab_building, 
      lab_floor, lab_room, lab_number, 
      lab_type, lab_info)
    values (#{labId,jdbcType=INTEGER}, #{labName,jdbcType=VARCHAR}, #{labBuilding,jdbcType=VARCHAR}, 
      #{labFloor,jdbcType=VARCHAR}, #{labRoom,jdbcType=VARCHAR}, #{labNumber,jdbcType=INTEGER}, 
      #{labType,jdbcType=VARCHAR}, #{labInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.lab">
    insert into lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="labId != null">
        lab_id,
      </if>
      <if test="labName != null">
        lab_name,
      </if>
      <if test="labBuilding != null">
        lab_building,
      </if>
      <if test="labFloor != null">
        lab_floor,
      </if>
      <if test="labRoom != null">
        lab_room,
      </if>
      <if test="labNumber != null">
        lab_number,
      </if>
      <if test="labType != null">
        lab_type,
      </if>
      <if test="labInfo != null">
        lab_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="labId != null">
        #{labId,jdbcType=INTEGER},
      </if>
      <if test="labName != null">
        #{labName,jdbcType=VARCHAR},
      </if>
      <if test="labBuilding != null">
        #{labBuilding,jdbcType=VARCHAR},
      </if>
      <if test="labFloor != null">
        #{labFloor,jdbcType=VARCHAR},
      </if>
      <if test="labRoom != null">
        #{labRoom,jdbcType=VARCHAR},
      </if>
      <if test="labNumber != null">
        #{labNumber,jdbcType=INTEGER},
      </if>
      <if test="labType != null">
        #{labType,jdbcType=VARCHAR},
      </if>
      <if test="labInfo != null">
        #{labInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>