<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdu.ailab.admin.dao.staffMapper">
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff">
    <result column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_password" jdbcType="VARCHAR" property="staffPassword" />
    <result column="staff_state" jdbcType="VARCHAR" property="staffState" />
    <result column="staff_type" jdbcType="INTEGER" property="staffType" />
    <result column="staff_email" jdbcType="VARCHAR" property="staffEmail" />
    <result column="staff_phone" jdbcType="VARCHAR" property="staffPhone" />
    <result column="staff_face_picture_dir" jdbcType="VARCHAR" property="staffFacePictureDir" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="hdu.ailab.admin.bean.staff">
    <result column="staff_face_feature" jdbcType="LONGVARBINARY" property="staffFaceFeature" />
  </resultMap>
  <sql id="Blob_Column_List">
    staff_face_feature
  </sql>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff">
    insert into staff (uuid, staff_id, staff_name, 
      staff_password, staff_state, staff_type, 
      staff_email, staff_phone, staff_face_picture_dir, 
      staff_face_feature)
    values (#{uuid,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, 
      #{staffPassword,jdbcType=VARCHAR}, #{staffState,jdbcType=VARCHAR}, #{staffType,jdbcType=INTEGER}, 
      #{staffEmail,jdbcType=VARCHAR}, #{staffPhone,jdbcType=VARCHAR}, #{staffFacePictureDir,jdbcType=VARCHAR}, 
      #{staffFaceFeature,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff">
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="staffPassword != null">
        staff_password,
      </if>
      <if test="staffState != null">
        staff_state,
      </if>
      <if test="staffType != null">
        staff_type,
      </if>
      <if test="staffEmail != null">
        staff_email,
      </if>
      <if test="staffPhone != null">
        staff_phone,
      </if>
      <if test="staffFacePictureDir != null">
        staff_face_picture_dir,
      </if>
      <if test="staffFaceFeature != null">
        staff_face_feature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffPassword != null">
        #{staffPassword,jdbcType=VARCHAR},
      </if>
      <if test="staffState != null">
        #{staffState,jdbcType=VARCHAR},
      </if>
      <if test="staffType != null">
        #{staffType,jdbcType=INTEGER},
      </if>
      <if test="staffEmail != null">
        #{staffEmail,jdbcType=VARCHAR},
      </if>
      <if test="staffPhone != null">
        #{staffPhone,jdbcType=VARCHAR},
      </if>
      <if test="staffFacePictureDir != null">
        #{staffFacePictureDir,jdbcType=VARCHAR},
      </if>
      <if test="staffFaceFeature != null">
        #{staffFaceFeature,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff">
    <result column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_password" jdbcType="VARCHAR" property="staffPassword" />
    <result column="staff_state" jdbcType="VARCHAR" property="staffState" />
    <result column="staff_type" jdbcType="INTEGER" property="staffType" />
    <result column="staff_email" jdbcType="VARCHAR" property="staffEmail" />
    <result column="staff_phone" jdbcType="VARCHAR" property="staffPhone" />
    <result column="staff_face_picture_dir" jdbcType="VARCHAR" property="staffFacePictureDir" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="hdu.ailab.admin.bean.staff">
    <result column="staff_face_feature" jdbcType="LONGVARBINARY" property="staffFaceFeature" />
  </resultMap>
  <sql id="Blob_Column_List">
    staff_face_feature
  </sql>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff">
    insert into staff (uuid, staff_id, staff_name, 
      staff_password, staff_state, staff_type, 
      staff_email, staff_phone, staff_face_picture_dir, 
      staff_face_feature)
    values (#{uuid,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, 
      #{staffPassword,jdbcType=VARCHAR}, #{staffState,jdbcType=VARCHAR}, #{staffType,jdbcType=INTEGER}, 
      #{staffEmail,jdbcType=VARCHAR}, #{staffPhone,jdbcType=VARCHAR}, #{staffFacePictureDir,jdbcType=VARCHAR}, 
      #{staffFaceFeature,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff">
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="staffPassword != null">
        staff_password,
      </if>
      <if test="staffState != null">
        staff_state,
      </if>
      <if test="staffType != null">
        staff_type,
      </if>
      <if test="staffEmail != null">
        staff_email,
      </if>
      <if test="staffPhone != null">
        staff_phone,
      </if>
      <if test="staffFacePictureDir != null">
        staff_face_picture_dir,
      </if>
      <if test="staffFaceFeature != null">
        staff_face_feature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffPassword != null">
        #{staffPassword,jdbcType=VARCHAR},
      </if>
      <if test="staffState != null">
        #{staffState,jdbcType=VARCHAR},
      </if>
      <if test="staffType != null">
        #{staffType,jdbcType=INTEGER},
      </if>
      <if test="staffEmail != null">
        #{staffEmail,jdbcType=VARCHAR},
      </if>
      <if test="staffPhone != null">
        #{staffPhone,jdbcType=VARCHAR},
      </if>
      <if test="staffFacePictureDir != null">
        #{staffFacePictureDir,jdbcType=VARCHAR},
      </if>
      <if test="staffFaceFeature != null">
        #{staffFaceFeature,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff">
    <result column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_password" jdbcType="VARCHAR" property="staffPassword" />
    <result column="staff_state" jdbcType="VARCHAR" property="staffState" />
    <result column="staff_type" jdbcType="INTEGER" property="staffType" />
    <result column="staff_email" jdbcType="VARCHAR" property="staffEmail" />
    <result column="staff_phone" jdbcType="INTEGER" property="staffPhone" />
    <result column="staff_face_picture_dir" jdbcType="VARCHAR" property="staffFacePictureDir" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="hdu.ailab.admin.bean.staff">
    <result column="staff_face_feature" jdbcType="LONGVARBINARY" property="staffFaceFeature" />
  </resultMap>
  <sql id="Blob_Column_List">
    staff_face_feature
  </sql>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff">
    insert into staff (uuid, staff_id, staff_name, 
      staff_password, staff_state, staff_type, 
      staff_email, staff_phone, staff_face_picture_dir, 
      staff_face_feature)
    values (#{uuid,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, 
      #{staffPassword,jdbcType=VARCHAR}, #{staffState,jdbcType=VARCHAR}, #{staffType,jdbcType=INTEGER}, 
      #{staffEmail,jdbcType=VARCHAR}, #{staffPhone,jdbcType=INTEGER}, #{staffFacePictureDir,jdbcType=VARCHAR}, 
      #{staffFaceFeature,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff">
    insert into staff
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="staffName != null">
        staff_name,
      </if>
      <if test="staffPassword != null">
        staff_password,
      </if>
      <if test="staffState != null">
        staff_state,
      </if>
      <if test="staffType != null">
        staff_type,
      </if>
      <if test="staffEmail != null">
        staff_email,
      </if>
      <if test="staffPhone != null">
        staff_phone,
      </if>
      <if test="staffFacePictureDir != null">
        staff_face_picture_dir,
      </if>
      <if test="staffFaceFeature != null">
        staff_face_feature,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffPassword != null">
        #{staffPassword,jdbcType=VARCHAR},
      </if>
      <if test="staffState != null">
        #{staffState,jdbcType=VARCHAR},
      </if>
      <if test="staffType != null">
        #{staffType,jdbcType=INTEGER},
      </if>
      <if test="staffEmail != null">
        #{staffEmail,jdbcType=VARCHAR},
      </if>
      <if test="staffPhone != null">
        #{staffPhone,jdbcType=INTEGER},
      </if>
      <if test="staffFacePictureDir != null">
        #{staffFacePictureDir,jdbcType=VARCHAR},
      </if>
      <if test="staffFaceFeature != null">
        #{staffFaceFeature,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
</mapper>