<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdu.ailab.admin.dao.staff_collegeMapper">
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff_college">
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="college_id" jdbcType="INTEGER" property="collegeId" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff_college">
    insert into staff_college (staff_id, college_id)
    values (#{staffId,jdbcType=INTEGER}, #{collegeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff_college">
    insert into staff_college
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="collegeId != null">
        college_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="collegeId != null">
        #{collegeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff_college">
    <result column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="college_id" jdbcType="INTEGER" property="collegeId" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff_college">
    insert into staff_college (staff_id, college_id)
    values (#{uuid,jdbcType=INTEGER}, #{collegeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff_college">
    insert into staff_college
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="collegeId != null">
        college_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="collegeId != null">
        #{collegeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff_college">
    <result column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="college_id" jdbcType="INTEGER" property="collegeId" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff_college">
    insert into staff_college (staff_id, college_id)
    values (#{uuid,jdbcType=INTEGER}, #{collegeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff_college">
    insert into staff_college
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="collegeId != null">
        college_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="collegeId != null">
        #{collegeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>