<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hdu.ailab.admin.dao.staff_admin_labMapper">
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff_admin_lab">
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="lab_id" jdbcType="INTEGER" property="labId" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff_admin_lab">
    insert into staff_admin_lab (staff_id, lab_id)
    values (#{staffId,jdbcType=INTEGER}, #{labId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff_admin_lab">
    insert into staff_admin_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="labId != null">
        lab_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="labId != null">
        #{labId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff_admin_lab">
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="lab_id" jdbcType="INTEGER" property="labId" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff_admin_lab">
    insert into staff_admin_lab (staff_id, lab_id)
    values (#{staffId,jdbcType=INTEGER}, #{labId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff_admin_lab">
    insert into staff_admin_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="labId != null">
        lab_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="labId != null">
        #{labId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="hdu.ailab.admin.bean.staff_admin_lab">
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="lab_id" jdbcType="INTEGER" property="labId" />
  </resultMap>
  <insert id="insert" parameterType="hdu.ailab.admin.bean.staff_admin_lab">
    insert into staff_admin_lab (staff_id, lab_id)
    values (#{staffId,jdbcType=INTEGER}, #{labId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="hdu.ailab.admin.bean.staff_admin_lab">
    insert into staff_admin_lab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="labId != null">
        lab_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="labId != null">
        #{labId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>